@import url(reset.css);

:root {
  --primary-clr-100: #6c3c91;
  --neutral-clr-100: #fff;
  --neutral-clr-200: #f7f7f7;
  --neutral-clr-500: #f0f0f2;
  --neutral-clr-700: lightgrey;
  --neutral-clr-800: #1c1c1c;
  --neutral-clr-900: #0b0b0b;

  --cust-font-1: "custy";
}

@font-face {
  font-family: "custy";
  src: url(./assets/fonts/Southampton-MRqp.ttf);
}

@font-face {
  font-family: "neon";
  src: url(./assets/fonts/KosanNonCommercial.otf);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

body {
  height: 100vh;
}

.main-content {
  min-height: 100%;
  min-width: 225px;
  display: grid;
  grid-template-rows: 100px 1fr;
  transition: 0.2s ease-in;
}

.main-content.active {
  transition: 0.2s ease-in;
  opacity: 0.3;
  pointer-events: none;
}

.header {
  background-color: #3b444b;
  grid-row: 1 / 2;
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "neon";
  font-size: 2.7rem;
  letter-spacing: 8px;
  text-shadow: 0 0 20px #ff005b;
  color: white;
}

.title:after {
  content: attr(datat-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff005b;
  filter: blur(15px);
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe3a80;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
}

.content {
  min-height: 500px;
  min-width: 225px;
  background-color: #232b2b;
  box-shadow: inset 0px 5px 10px var(--neutral-clr-900);
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-book {
  height: 10%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-book > button {
  height: 2.2rem;
  width: 7.6rem;
  border-style: none;
  border-radius: 5px;
  background-color: #3b444b;
  padding: 0;
  cursor: pointer;
  box-shadow: 0px 2px 5px var(--neutral-clr-900);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.new-book > button:hover {
  color: var(--neutral-clr-100);
  background-color: var(--neutral-clr-800);
  transition: background-color 0.2s ease-in;
}

.book-grid {
  height: 100%;
  width: 90%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
  justify-items: center;
}

h1 {
  margin: 0;
}

/* Add Book Module */

.add-book-module.active {
  opacity: 1;
  min-height: 390px;
  width: 320px;
  border-radius: 10px;
  border: 2px solid var(--neutral-clr-900);
  background-color: var(--neutral-clr-200);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
  pointer-events: all;
}

.add-book-module {
  opacity: 0;
  height: 390px;
  width: 300px;
  border-radius: 10px;
  background-color: #f7f7f7;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.form {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.form > input {
  height: 30px;
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid var(--neutral-clr-900);
}

button[type="submit"] {
  margin-top: 30px;
  height: 35px;
  width: 60%;
}

.read {
  color: var(--neutral-clr-900);
}

.checkbox {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1.9rem;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

/* Book Div Style */

.book-div {
  height: 270px;
  width: 280px;
  background-color: #3b444b;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  border: 2px solid var(--neutral-clr-900);
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

div[read="true"] {
  box-shadow: green 0px 1px 2px, green 0px 6px 6px;
}

div[read="false"] {
  box-shadow: red 0px 1px 2px, red 0px 6px 6px;
}

.book-div > div {
  height: 15%;
  width: 260px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 900;
  display: inline-block;
  word-wrap: break-word;
  cursor: default;
  font-family: "neon";
}

.book-div > button {
  padding: 6px;
  width: 80%;
  border: 2px solid var(--neutral-clr-900);
  background-color: #232b2b;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
}

.book-div > button:hover {
  background-color: #353839;
}
