@import url(reset.css);

:root {
  --primary-clr-100: #9343d1;

  --neutral-clr-100: #fff;
  --neutral-clr-500: #f0f0f2;
  --neutral-clr-700: lightgrey;
  --neutral-clr-900: #0b0b0b;

  --cust-font-1: "custy";
}

@font-face {
  font-family: "custy";
  src: url(./assets/fonts/Southampton-MRqp.ttf);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

body {
  height: 100vh;
}

.main-content {
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.header {
  background-color: var(--neutral-clr-100);
  grid-row: 1 / 2;
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "custy";
  font-size: 2.7rem;
  letter-spacing: 6px;
}

.content {
  min-height: 500px;
  min-width: 600px;
  background-color: var(--neutral-clr-500);
  box-shadow: inset 0px 5px 10px var(--neutral-clr-900);
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.new-book {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.new-book > button {
  height: 2.2rem;
  width: 7.6rem;
  border: 2px solid var(--primary-clr-100);
  border-radius: 10px;
  background: transparent;
  padding: 0;
  margin-left: 2.4rem;
  cursor: pointer;
  box-shadow: 0px 2px 5px var(--neutral-clr-900);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.new-book > button:hover {
  color: var(--neutral-clr-100);
  background-color: var(--primary-clr-100);
  animation: bounce 0.8s infinite alternate;
  transition: background-color 0.2s ease-in;
}

.book-grid {
  height: 90%;
  width: 100%;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
}

/* Add Book Module */

.add-book-module.active {
  opacity: 1;
  height: 390px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid var(--primary-clr-100);
  background-color: #f7f7f7;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-book-module {
  opacity: 0;
  height: 360px;
  width: 300px;
  border-radius: 10px;
  background-color: #f7f7f7;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.form {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.form > input {
  height: 30px;
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: transparent;
}

button[type="submit"] {
  margin-top: 30px;
  height: 35px;
  width: 60%;
}

.read {
  color: var(--neutral-clr-900);
}

.checkbox {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

h3 {
  margin: 0;
  font-size: 1.9rem;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
